<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample Data Test">

<listeners>

<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<listener class-name="customlisteners.Listeners"/>


</listeners>
  
  
  
  
  
  
  
  
  <test thread-count="5" parallel="classes" name="Registration">
    <classes>
      <class name="testCase.Registration"/>
      
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Login">
    <classes>
      
      <class name="testCase.Login"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Ordering">
    <classes>
      
      <class name="testCase.Ordering"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="VerifyLogin">
    <classes>
      
      <class name="testCase.VerifyLoginPage"/>
    </classes>
    </test> <!-- Test -->
    <test thread-count="5" name="parameter">
    <classes>
      
      <class name="testCase.Parameter"/>
    </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
